@model DetailsVM
@{
    ViewData["Title"] = "Jogo";
    string CorG(string nome)
    {
        return Model.Generos
            .Where(t => t.Nome == nome)
            .Select(t => t.Cor)
            .FirstOrDefault();
    }
    string CorP(string nome)
    {
        return Model.Plataformas
            .Where(t => t.Nome == nome)
            .Select(t => t.Cor)
            .FirstOrDefault();
    }
}

<section class="pt-5 container">
    <div class="row">
        <div class="col text-center">
            @if (Model.Anterior != null)
            {
            <a asp-action="Details" asp-route-id="@Model.Anterior.ID" class="btn btn-lg btn-outline-dark">
                    @Model.Anterior.ID.ToString("000") - @Model.Anterior.Nome
            </a>
            }
        </div> 
        <div class="col text-center">
            <h1 class="fs-1">@Model.Atual.Nome <span class="fs-2 text-secondary">@Model.Atual.ID.ToString("000")</span></h1>
        </div>
        <div class="col text-center">
            @if (Model.Proximo != null)
            {
                <a asp-action="Details" asp-route-id="@Model.Proximo.ID" class="btn btn-lg btn-outline-dark">
                    @Model.Proximo.ID.ToString("000") - @Model.Proximo.Nome
                </a>
            }
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-5 p-0">
            <img class="img-fluid cursor-pointer" src="@Model.Atual.Imagem" alt="@Model.Atual.Nome">
        </div>
        <div class="col-lg-7 fs-5 mt-4">
            <p class="mb-3"><strong>Descrição:</strong>@Model.Atual.Descricao</p>
            <p class="mb-3"><strong>Preço:</strong>@Model.Atual.Preco</p>
            <p class="mb-3"><strong>Desenvolvedora:</strong>@Model.Atual.Desenvolvedora</p>
            <p class="fw-bold">Gênero</p>
            <div class="btn-group">
                @foreach(var genero in Model.Atual.Genero)
                {

                    <a href="#" class="btn btn-lg text-white" style="background-color:@CorG(genero)">
                        @genero
                    </a>
                }
                @foreach(var plataforma in Model.Atual.Plataformas)
                {

                    <a href="#" class="btn btn-lg text-white" style="background-color:@CorP(plataforma)">
                        @plataforma
                    </a>
                }
            </div>
        </div>
    </div>
</section>